.navbar {
    background: pink;
    border-right: #333 3px solid;
    opacity: 0.8;
}
#home-section {
    background: url(./img/pink_nature.jpg);
    min-height: 700px;
    background-size: cover;
    background-attachment: fixed;
        
}

#explore-head-section {
    background: #b2b2b2
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
}
